.side-bar {
  padding: 0 16px;
  border-radius: 8px;
  transition: width 0.5s ease;
  margin: 1.5rem 0 1.5rem 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  &__heading {
    padding: 18.5px 0;
    &__name {
      font-size: 1.5rem !important;
      overflow: hidden;
      white-space: nowrap;
      transition: width 0.5s ease;
    }
  }

  &.collapsed {
    width: 80px;
    .side-bar__heading__name {
      width: 0;
    }
  }
  &.expand {
    .side-bar__heading__name {
      width: 175px;
    }
    @media (max-width: 1535px) {
      width: 280px;
    }

    @media (min-width: 1536px) {
      width: 300px;
    }
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
