/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.menu__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  flex-wrap: nowrap;
  padding: 12px 36px 12px 12px !important;
  overflow-x: hidden;
  border-radius: 8px !important;
  position: relative;

  &__icon {
    margin-right: 16px;
  }

  &__name {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px !important;
  }

  &__expandedIcon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    display: inline-flex;
    transition: opacity 0.3s ease;
    svg {
      transition: rotate 0.3s ease;
    }
  }

  &.active,
  &:hover {
    background-color: var(--color-1);
    color: white;
  }

  &.collapsed {
    .menu__item__name {
      width: 0;
    }
    .menu__item__expandedIcon {
      opacity: 0;
    }
  }

  &.expanded {
    .menu__item__expandedIcon {
      svg {
        rotate: 180deg;
      }
    }
  }
}

.menu__accordion {
  margin-left: 8px;
  padding-left: 8px;
  overflow-y: hidden;
  transition: height 0.3s ease;
  border-left: 1px dashed #c4c4c4;
}
