/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.menu__item {
  border: 1px dashed #6c6c6c;
  border-radius: 6px;
  background-color: white;
  height: 40px;
}

.menu__list {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
